<app-header></app-header>
<!--
<h1>Hello {{title}}</h1>

<chess-board></chess-board>

<evaluator [min]=minValue
           [max]=maxValue
           [step]=step
           [(value)]="selectedValue"></evaluator>

<button (click)="submitData()"
        [disabled]="isSubmitting"
        class="submit-button">
  {{ isSubmitting ? 'Отправка...' : 'Отправить' }}
</button>

<button (click)="update()"
        [disabled]="isUpdating"
        class="submit-button">
  {{isUpdating ? 'Обновление ...' : 'Обновить'}}
</button>

<div *ngIf="submitMessage" class="message" [style.--hue]=getGradientColor(newValue)>
  <h2 [style.color]="currentColor">percentile {{ submitMessage }} правильное значение {{ desiredvalue }}</h2>
</div>

<evaluation-of-position></evaluation-of-position> -->
