@import '_variables';

* {
  
}

html{

}

body {
  background-color: $background-color;
  font-family: $font-primary;
  font-weight: $font-weight-normal;
}

header {
  
}

main {
  
}

footer {
  
}

h1, h2, h3 {
  font-family: $font-accent;
  font-weight: $font-weight-heading;
}

h1 {
  color: $text-color;
}

h2, h3{
    color: $secondary-text-color;
}

a {
  color: $link-color;
  font-family: $font-accent;
  font-weight: $font-weight-normal;
  font-style: $font-style-accent;
  transition: $color-transition;

  &:hover {
    color: darken($link-color, $color-hover-value)
  }


  &:active {
    color: darken($link-color, $color-action-value)
  }
}

p{

}

button {
  background-color: $buttons-color;
  color: $text-color;
  //font-size: 15px;
  font-weight: $font-weight-normal;
  font-size: 1.1rem;
  border: 0.13rem solid darken($buttons-color, 25%);
  border-radius: $shape-border-radius;
  padding: $shape-padding;
  font-family: $font-primary;
  cursor: pointer;
  display: inline-block;
  transition: $color-transition;

  &:hover {
    background-color: darken($buttons-color, $color-hover-value)
  }

  &:active {
    background-color: darken($buttons-color, $color-action-value)
  }
}

img {
  transition: $color-transition;

  &:hover {
    filter: invert($color-hover-value);
  }

  &:active {
    filter: invert($color-action-value);
  }
}
