@import '../../_variables.scss';

.header {
  background-color: $primary-color;
  box-shadow: $shape-shadow;
  padding: $shape-padding;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__logo img {
    height: 80px;
    transition: $color-transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 5rem;

      a {
        color: $text-color;
        font-family: $font-primary;
        font-weight: $font-weight-semibold;
        font-style: $font-style-accent;
        transition: $color-transition;

        &:hover {
          color: darken($text-color, $color-hover-value);
        }

        &.active {
          color: darken($text-color, $color-action-value);
        }
      }
    }
  }

  /*&__action .btn {
    padding: 0.5rem 1.5rem;
    background-color: $buttons-color;
    font-family: $font-primary;
    font-weight: $font-weight-normal;
    font-style: $font-style-accent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #D18E5A;
    }
  }*/
}



// For Mobile
@media (max-width: 768px) {
  .header {
    &__nav {
      display: none;

      &.open {
        display: block;
        position: absolute;
        inset: 100% 0 auto 0;
        background: #fff;
        padding: 1rem;
        box-shadow: $shape-shadow;

        ul {
          flex-direction: column;

          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}
