@import '../../_variables.scss';

.header {
  background-color: $primary-color;
  box-shadow: $shape-shadow;
  padding: $shape-padding;
  border-end-end-radius: $shape-border-radius;
  border-end-start-radius: $shape-border-radius;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__logo img {
    height: 80px;
  }

  &__nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 5rem;

      a {
        color: $text-color;
        font-family: $font-primary;
        font-weight: $font-weight-semibold;

        &:hover {
          color: darken($text-color, $color-hover-value);
        }

        &.active {
          color: darken($text-color, $color-action-value);
        }
      }
    }
  }

  &__actions .btn {
    font-weight: $font-weight-semibold;
  }
}



// For Mobile
@media (max-width: 768px) {
  .header {
    &__nav {
      display: none;

      &.open {
        display: block;
        position: absolute;
        inset: 100% 0 auto 0;
        background: #fff;
        padding: 1rem;
        box-shadow: $shape-shadow;

        ul {
          flex-direction: column;

          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}
